<div class="container">
	<div class="row">
		<div class="col-lg-12">
			
			
		<form #registerForm = "ngForm" (ngSubmit)="onSubmit(registerForm)" class="register-login">
			<div class="head">
				Bienvenido a <b>Red</b> Social
			</div>	
			<span class="title"> Registrate ahora ! </span>
			<div class="groups">
				<div class="group">
					<i class="icon fas fa-user"></i>
					<input type="text" placeholder="Tu nombre" #name="ngModel" name="name" [(ngModel)]="user.name" required>
					<span class="error-message loginRegister" *ngIf="!name.valid && name.touched">  *Campo obligatorio </span>
				</div>

				
				<div class="group">
					<i class="icon fas fa-user"></i>
					<input type="text" placeholder="Tu apellido" #surname="ngModel" name="surname" [(ngModel)]="user.surname" required>
					<span class="error-message loginRegister" *ngIf="!surname.valid && surname.touched"> *Campo obligatorio  </span>
				</div>	

				<div class="group">
					<i class="icon fas fa-tag"></i>
					<input type="text" placeholder="Nombre de usuario" #nick="ngModel" name="nick" [(ngModel)]="user.nick" required>
					<span class="error-message loginRegister" *ngIf="!nick.valid && nick.touched">  *Campo obligatorio </span>
				</div>	
				
				<div class="group">
					<i class="icon fas fa-envelope"></i>
					<input type="email" placeholder="Tu correo electrónico" #email="ngModel" name="email" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required >
					<span class="error-message loginRegister" *ngIf="!email.valid && email.touched"> *Campo obligatorio  </span>
				</div>	

				<div class="group">
					<i class="icon fas fa-lock"></i>
					<input type="password" placeholder="Contraseña" #password="ngModel" name="password" [(ngModel)]="user.password" required>
					<span class="error-message loginRegister" *ngIf="!password.valid && password.touched"> *Campo obligatorio  </span>
				</div>
			</div>
				
				<button class="btn btn-primary" type="submit" [disabled]="!registerForm.form.valid">Registrarme</button>
		</form>
		

		</div>
	</div>
</div>



<!-- MENSAJE DE EXITO  -->
<div class="alert alert-success fixed-top text-center" *ngIf="status && status == 'success' ">
	<span class="close" (click)="closeMessage()"><i class="fas fa-times float-right"></i></span>
	<span> Registro completado con exito <i class="fas fa-check"></i>  Ahora ya puedes iniciar sesión ! <a [routerLink]="['/login']">Iniciar sesión</a></span>
</div>
<!-- -----  -->

<!-- MENSAJE DE EXITO  -->
<div class="alert alert-danger fixed-top text-center" *ngIf="status && status == 'failNoResults' ">
	<span class="close" (click)="closeMessage()"><i class="fas fa-times float-right"></i></span>
	<span> El registro no se ha podido completar, puede que el correo o nickname ya esté en uso.</span>
</div>
<!-- -----  -->

<!-- MENSAJE DE EXITO  -->
<div class="alert alert-danger fixed-top text-center" *ngIf="status && status == 'fail' ">
	<span class="close" (click)="closeMessage()"><i class="fas fa-times float-right"></i></span>
	<span> Se ha producido un error en el servidor. Vuelve a intentarlo más tarde </span>
</div>
<!-- -----  -->