<div class="container-fluid">
	<!--  BARRA DE NAVEGACION  -->
	<div class="row">
		<div class="col-lg-12">
			<!--  BARRA DE NAVEGACION  CUANDO EL USUARIO HA INICIADO SESION -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" *ngIf="identity">
				
				<a  [routerLink]="['/timeline']" class="navbar-brand"><b>Red</b> Social</a>
				
				<div class="collapse navbar-collapse items">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a [routerLink]="['/timeline']"   [routerLinkActive]="['active']" class="nav-link"> Timeline <i class="fas fa-stream"></i></a>
						</li>
						<li class="nav-item">
							<a [routerLink]="['/gente']"  [routerLinkActive]="['active']" class="nav-link"> Personas <i class="fas fa-users"></i></a>
						</li>
						<li class="nav-item">
							<a [routerLink]="['/mensajes']"  [routerLinkActive]="['active']" class="nav-link"> Mensajes <i class="fas fa-envelope"></i></a>
						</li>
					</ul>
					
					
					<ul class="navbar-nav ml-auto mr-5 user-navbar" *ngIf="identity">
						<div class="nav-item image" *ngIf="identity.image">
							<img src="{{ url + 'api/get-image-user/' + identity.image }}" alt="" id="profileImage">
						</div>
						<div class="nav-item image" *ngIf="!identity.image">
							<img src="assets/img/default.jpeg" alt="">
						</div>
						<li class="nav-item dropdown"> 
							<a href="#" class="nav-link dropdown-toggle" id="dropdown-menu-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{{identity.name}} {{identity.surname}}
								<div class="dropdown-menu" aria-labelledby="dropdown-menu-user">
									<a [routerLink]="['/perfil', identity._id]" class="dropdown-item"> <i class="fas fa-user"></i> Mi perfil</a>
									<a [routerLink]="['/mis-datos']" class="dropdown-item"> <i class="fas fa-cog"></i> Mi cuenta</a>
									<a (click)="logOut()" class="dropdown-item pointer"> <i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
								</div>
							</a>
						</li>
					</ul>

				</div>


			</nav>
			<!--  -------------------------------------------------------  -->

			<!--  BARRA DE NAVEGACION EXTERIOR -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" *ngIf="!identity">
				
				<a href="#" class="navbar-brand"><b>Red</b> Social</a>
				
				<div class="collapse navbar-collapse items">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a [routerLink]="['/login']" class="nav-link" [routerLinkActive]="['active']"> Iniciar sesión <i class="fas fa-home"></i></a>
						</li>
						<li class="nav-item">
							<a [routerLink]="['/registro']" class="nav-link" [routerLinkActive]="['active']"> Crear cuenta <i class="fas fa-book"></i></a>
						</li>
					</ul>
				</div>
			</nav>
			<!--  -------------------------------------------------------  -->

		</div>
	</div>
	<!--  ---  -->
</div>



<!--  AQUI SE CARGAN LOS COMPONENTES  -->
<main>
	<router-outlet></router-outlet>
</main>
<!--  ---  -->