<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-2">
            <h2 class="title"> {{ title }}</h2> 
        </div>
    </div>
    <div class="row people" *ngIf="messages">
        <div class="col-lg-12">

            <div class="drawing" *ngIf="messages && messages.length === 0">
              <img class="drawing__img" src="./assets/img/iconos/message.svg" alt="Dibujo de caja vacía">
              <span class="drawing__text-primary">No has enviado mensajes</span>
            </div>

            <div class="row">
                <div class="col-lg-12 card person" *ngFor="let message of messages">
                    <span class="text-muted sent-to">Enviado a <a [routerLink]="['/perfil', message.receiver._id]">{{ message.receiver.nick }}</a></span>
                    <div class="card-body">
                        <div class="image-user" *ngIf="message.emmitter.image">
                            <img src="{{ url + 'api/get-image-user/' + message.emmitter.image }}" alt="">
                        </div>
                        <div class="image-user" *ngIf="!message.emmitter.image">
                            <img src="assets/img/default.jpeg" alt="">
                        </div>
                        <div class="user-info">
                            <a [routerLink]="['/perfil', message.emmitter._id]" class="user-name">{{ message.emmitter.name + ' ' + message.emmitter.surname }}</a>
                            <span class="text-muted"> {{ message.emmitter.nick }} </span>
                            <span class="text-muted date">{{ (message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}</span>
                        </div>
                        <p class="text float-right ml-4">{{ message.text }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="btns-pagination mt-4">
                            <a [routerLink]="['/mensajes/enviados', prevPage]" *ngIf="page > 1" class="float-left btn btn-light btn-sm">Anterior</a>
                            <a [routerLink]="['/mensajes/enviados', nextPage]" *ngIf="pages !== page" class="float-right btn btn-light btn-sm">Siguiente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>